body {
    display: flex;  
    justify-content: center;
    flex: 1 auto;
    padding: var(--padding-card,2rem);
}

.card{
    background-color: #1f3b5f;
    border-radius: 20px; 
    width: 50vmin;
    height: 30vmin; 
    padding: var(--padding-card,2rem);
    position: fixed; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.titulo{
    text-align: center;
    font-size: 2.0vmin;
    color: rgb(255, 255, 255);
    font-family: "Lato",Sans-serif;
    position: static;
    display: grid;
    transform: translate(-1%, -80%);
}

.up{
    justify-content: center;
    padding: 0.5rem;
    color: azure;
    font-family: "Lato",Sans-serif;
    top: 40%;
    left: 36%;
    transform: translate(10%, -10%);
    display: grid;  
    grid-gap: 5rem;  
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-template-rows: repeat(2, 4rem); 
    font-size: 2.0vmin; 
}

.down{
    justify-content: center;
    padding: 0.5rem;
    color: azure;
    font-family: "Lato",Sans-serif;
    top: 50%;
    left: 46%;
    transform: translate(10%, -75%);
    display: grid;  
    grid-gap: 5rem;  
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-template-rows: repeat(2, 4rem);  
    font-size: 2.0vmin; 
}



.PrimEntrada{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));   
}

.PrimSaida{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));
}

.SegEntrada{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));
}

.SegSaida{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));
}

.botao{
    position:absolute; 
    top:88%;
    left:50%;
    transform: translate(-50%, -50%);
}

.regras{
    text-align: center;
    font-size: 2.0vmin;
    color: rgb(0, 0, 0);
    font-family: "Lato",Sans-serif;
    position: fixed;
    display: grid;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.descricaoRegras {
    text-align: center;
    font-size: 1.5vmin;
    color: rgb(0, 0, 0);
    font-family: "Lato",Sans-serif;
    position: fixed;
    display: grid;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);  
    line-height: 3.5vmin;
}

button {
    padding: 0.6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    opacity: 0.9;
    font-size: 1rem;
  }
  
  #regras {
    background-color: #007bff;
  }
  
  button:hover {
    opacity: 1;
  }
  
  #modal-regras {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    max-width: 90%;
    background-color: #adadad;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
  #fade-regras,
  #modal-regras {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header-regras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  .modal-body-regras p {
    margin-bottom: 1rem;
  }
  
  #modal-regras.hide-regras,
  #fade-regras.hide-regras {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide-regras {
    top: 0;
  }

  #modal-calculo {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    max-width: 90%;
    background-color: #adadad;
    padding: 1.2rem;
    border-radius: 0.5rem;
    z-index: 10;
  }
  
  #fade-calculo,
  #modal-calculo {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
  }
  
  .modal-header-calculo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
  }
  
  .modal-body-calculo p {
    margin-bottom: 1rem;
  }
  
  #modal-calculo.hide-calculo,
  #fade-calculo.hide-calculo {
    opacity: 0;
    pointer-events: none;
  }
  
  #modal.hide-calculo {
    top: 0;
  }

  #resposta{
    top: 50%;
  }