body {
    padding-top: 100px;
    display: flex;  
    justify-content: center;
    flex: 1 auto;
    padding: var(--padding-card,2rem);
}

.card{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: #1f3b5f;
    border-radius: 20px; 
    width: 50vmin;
    height: 30vmin; 
    padding: var(--padding-card,2rem);
    position: fixed;     
    
}

.titulo{
    text-align: center;
    font-size: 2.0vmin;
    color: rgb(255, 255, 255);
    font-family: "Lato",Sans-serif;
    position: static;
    display: grid;
    transform: translate(-1%, -80%);
}

.up{
    justify-content: center;
    padding: 0.5rem;
    color: azure;
    font-family: "Lato",Sans-serif;
    top: 40%;
    left: 36%;
    transform: translate(10%, -10%);
    display: grid;  
    grid-gap: 5rem;  
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-template-rows: repeat(2, 4rem); 
    font-size: 2.0vmin; 
}

.down{
    justify-content: center;
    padding: 0.5rem;
    color: azure;
    font-family: "Lato",Sans-serif;
    top: 50%;
    left: 46%;
    transform: translate(10%, -75%);
    display: grid;  
    grid-gap: 5rem;  
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    grid-template-rows: repeat(2, 4rem);  
    font-size: 2.0vmin; 
}



.PrimEntrada{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));   
}

.PrimSaida{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));
}

.SegEntrada{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));
}

.SegSaida{
    width: 10vmin;
    display: grid;
    grid-gap: 1vmin;
    grid-template-columns: repeat(auto-fit, minmax(5vmin, 100vmin));
}

.botao{
    position:absolute; 
    top:88%;
    left:50%;
    transform: translate(-50%, -50%);
}

.regras{
    text-align: center;
    font-size: 2.0vmin;
    color: rgb(0, 0, 0);
    font-family: "Lato",Sans-serif;
    position: fixed;
    display: grid;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.descricaoRegras {
    text-align: center;
    font-size: 2.0vmin;
    color: rgb(0, 0, 0);
    font-family: "Lato",Sans-serif;
    position: fixed;
    display: grid;
    top:70%;
    left:50%;
    transform: translate(-50%, -50%);  
    line-height: 4.5vmin;
}